name: Deploy AWS Lambda (Prod)

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build-test:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest aws-sam-cli

      - name: Build SAM application
        run: sam build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: sam-build
          path: .aws-sam/build

  deploy:
    name: Deploy to Prod
    needs: build-test
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: sam-build
          path: .aws-sam/build

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::096938402899:role/lambda-github-role
          aws-region: us-east-1

      - name: Deploy SAM stack
        run: |
          sam deploy \
            --stack-name aws-lambda-github-sam-stack-prod \
            --s3-bucket aws-lambda-github-sam-s3-bucket \
            --capabilities CAPABILITY_IAM CAPABILITY_NAMED_IAM \
            --no-confirm-changeset \
            --no-fail-on-empty-changeset \
            --parameter-overrides Environment=prod
